html, body {
  height: 100%;
}
body {
  margin: 0px;
  background: -o-linear-gradient(top, #bbeedd , white 20%);
}
table {
  -o-transition: all 0s 0s;
  table-layout: fixed;
  position: absolute;
  width: 78%;
  height: 73%;
  left: 50%;
  top: 50%;
  margin-left: -39%;
  margin-top: -22.5%;
}
img {
  box-sizing: border-box;
  width: 100%; 
  border-radius: 10px;
}
img:not([alt]) {
  width: 80%; 
}
td {
  text-align: center;
  font-family: Verdana; 
}

tr:nth-child(1) td {
	vertical-align: middle;
}
tr:nth-child(2) td {
	padding: 0 5px;
	vertical-align: middle;
}
tr:nth-child(3) td {
	vertical-align: middle;
}

@media screen and (min-width: 0px) and (max-width: 140px) { 
	tr:not(:nth-child(2)) td {
		font-size: 6px;
		height: 10px;
	}
}

@media screen and (min-width: 140px) and (max-width: 180px) { 
	tr:not(:nth-child(2)) td {
		font-size: 8px;
		height: 15px;
	}
}
@media screen and (min-width: 180px) and (max-width: 230px) { 
	tr:not(:nth-child(2)) td {
		font-size: 11px;
		height: 17px;
	}
}
@media screen and (min-width: 230px) and (max-width: 260px) { 
	tr:not(:nth-child(2)) td {
		font-size: 13px;
		height: 23px;
	}
}
@media screen and (min-width: 260px) and (max-width: 320px) { 
	 tr:not(:nth-child(2)) td {
		font-size: 16px;
		height: 28px;
	}
}
@media screen and (min-width: 320px) and (max-width: 400px)  { 
	tr:not(:nth-child(2)) td {
		font-size: 19px;
		height: 38px;
	}
}
@media screen and (min-width: 400px) { 
	tr:not(:nth-child(2)) td {
		font-size: 25px;
		height: 53px;
	}
}